[package]
name = "canbench"
version = "0.1.2"
edition = "2021"
license = "Apache-2.0"
description = "A benchmarking framework for canisters on the Internet Computer."
repository = "https://github.com/dfinity/canbench"
keywords = ["internet-computer", "benchmark", "canister", "ic", "perf"]
readme = "../README.md"

[[bin]]
name = "canbench"
path = "src/main.rs"

[dependencies]
canbench-rs = { path = "../canbench-rs" }
candid.workspace = true
clap.workspace = true
colored.workspace = true
flate2.workspace = true
hex.workspace = true
reqwest.workspace = true
semver.workspace = true
serde.workspace = true
serde_yaml.workspace = true
sha256.workspace = true
tempfile.workspace = true
wasmparser.workspace = true
pocket-ic.workspace = true

[dev-dependencies]
pretty_assertions = "1.4.0"
