[package]
name = "canbench-rs"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"
description = "The rust library for `canbench`, the benchmarking framework for canisters on the Internet Computer."
repository = "https://github.com/dfinity/canbench"
tags = ["internet computer", "benchmark", "canister", "canisters", "ic", "perf", "optimize"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
path = "src/lib.rs"

[dependencies]
canbench-rs-macros = "0.1.0"
candid.workspace = true
ic-cdk.workspace= true
serde.workspace = true

[dev-dependencies]
ic-cdk-macros.workspace= true

[features]
canbench = [] # required for doc tests
