[package]
name = "canbench-rs"
# NOTE: whenever this is updated, canbench-rs-macros below should also be updated.
version = "0.1.8"
edition = "2021"
license = "Apache-2.0"
description = "The rust library for `canbench`, the benchmarking framework for canisters on the Internet Computer."
repository = "https://github.com/dfinity/canbench"
keywords = ["internet-computer", "benchmark", "canister", "ic", "perf"]
readme = "../README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
path = "src/lib.rs"

[dependencies]
canbench-rs-macros = { path = "../canbench-rs-macros", version = "0.1.8" }
candid.workspace = true
ic-cdk.workspace = true
serde.workspace = true

[dev-dependencies]
ic-cdk-macros.workspace = true

[features]
canbench = [] # required for doc tests
