name: Publish canbench-rs-macros to crates.io

on:
  push:
    tags:
      - "v*"

jobs:
  publish-canbench-bin:
    runs-on: ubuntu-latest

    permissions:
      id-token: write # Required for OIDC token exchange

    steps:
      - uses: actions/checkout@v5

      - uses: rust-lang/crates-io-auth-action@v1
        id: auth

      - name: Set Cargo.toml version
        shell: bash
        env:
          RELEASE_TAG: ${{ github.ref }}
        run: |
          sed -i -e "s/0\\.0\\.0-git/${RELEASE_TAG##*\/v}/" canbench-rs-macros/Cargo.toml

      - run: cargo publish -p canbench-rs-macros
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}

      - name: Send Slack message
        uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a
        with:
          webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
          webhook-type: incoming-webhook
          payload: |
            text: "New `canbench-rs-macros` crate (version `${{ github.ref_name }}`) has been published to crates.io"
